global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['192.168.56.10:9100']

  - job_name: 'nginx'
    static_configs:
      - targets: ['192.168.56.10:9113']

  - job_name: 'apache'
    static_configs:
      - targets: ['192.168.56.10:9117']
